<div class="box-filter  block-scroll-main">
    <section>
        <div class=" scrolling_inner scroll-right">
            {{!-- <div class="box-filter block-scroll-main scrolling">

                <div class="filter-total ">
                    <div class="filter-item__title jsTitle">
                        <div class="arrow-filter"></div>
                        <i class="icon-filter"></i>Bộ lọc
                        <strong class="number count-total"></strong>
                    </div>
                </div>

                <div class="filter-item warpper-price-outside">
                    <div class="filter-item__title jsTitle">
                        <div class="arrow-filter"></div><span>Giá</span>
                    </div>
                    <div class="filter-show">
                        <div class="filter-list price">
                            <a href="dtdd-apple-iphone?p=duoi-2-trieu" data-href="duoi-2-trieu" class="c-btnbox "
                                data-id="7">D&#x1B0;&#x1EDB;i 2 tri&#x1EC7;u</a>
                            <a href="dtdd-apple-iphone?p=tu-2-4-trieu" data-href="tu-2-4-trieu" class="c-btnbox "
                                data-id="9">T&#x1EEB; 2 - 4 tri&#x1EC7;u</a>
                            <a href="dtdd-apple-iphone?p=tu-4-7-trieu" data-href="tu-4-7-trieu" class="c-btnbox "
                                data-id="289">T&#x1EEB; 4 - 7 tri&#x1EC7;u</a>
                            <a href="dtdd-apple-iphone?p=tu-7-13-trieu" data-href="tu-7-13-trieu" class="c-btnbox "
                                data-id="562">T&#x1EEB; 7 - 13 tri&#x1EC7;u</a>
                            <a href="dtdd-apple-iphone?p=tu-13-20-trieu" data-href="tu-13-20-trieu" class="c-btnbox "
                                data-id="252">T&#x1EEB; 13 - 20 tri&#x1EC7;u</a>
                            <a href="dtdd-apple-iphone?p=tren-20-trieu" data-href="tren-20-trieu" class="c-btnbox "
                                data-id="253">Tr&#xEA;n 20 tri&#x1EC7;u</a>

                        </div>
                        <div class="price-slider text-active" data-activetxt="">
                            <p class="range-toggle">
                                <a href="javascript:;" onclick="loadPriceRangeSlider(this)">
                                    <i class="iconcate-range"></i>
                                    <span class="down">Hoặc chọn mức giá phù hợp với bạn</span>
                                </a>
                            </p>
                            <div class="container">
                                <div class="row-input">
                                    <form class="range-price">
                                        <span class="range-left">
                                            <input type="tel" maxlength="8" name="price-min-value" data-minvalue="0"
                                                value="0">
                                            <label class="place-holder">.000đ</label>
                                        </span>
                                        <span class="range-right">
                                            <input type="tel" maxlength="8" name="price-max-value"
                                                data-maxvalue="51000000" value="51000">
                                            <label class="place-holder">.000đ</label>
                                        </span>
                                    </form>
                                </div>
                                <div id="slider-range"></div>
                            </div>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="6060">
                    <div class="filter-item__title jsTitle noselecttext"
                        data-textorg="Lo&#x1EA1;i &#x111;i&#x1EC7;n tho&#x1EA1;i">
                        <div class="arrow-filter"></div>
                        <span>Lo&#x1EA1;i &#x111;i&#x1EC7;n tho&#x1EA1;i</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone?g=android" data-tooltip="" data-smooth="0" data-href="android"
                                data-id="39237" class="c-btnbox ">Android</a>
                            <a href="dtdd-apple-iphone?g=iphone-ios" data-tooltip="" data-smooth="0"
                                data-href="iphone-ios" data-id="39238" class="c-btnbox ">iPhone (iOS)</a>
                            <a href="dtdd-apple-iphone?g=dien-thoai-pho-thong" data-tooltip="" data-smooth="0"
                                data-href="dien-thoai-pho-thong" data-id="62879" class="c-btnbox ">&#x110;i&#x1EC7;n
                                tho&#x1EA1;i ph&#x1ED5; th&#xF4;ng</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="9006">
                    <div class="filter-item__title jsTitle noselecttext"
                        data-textorg="Hi&#x1EC7;u n&#x103;ng &amp; Pin">
                        <div class="arrow-filter"></div>
                        <span>Hi&#x1EC7;u n&#x103;ng &amp; Pin</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-choi-game" data-tooltip="" data-smooth="1" data-href="choi-game"
                                data-id="181956" class="c-btnbox ">Ch&#x1A1;i game /
                                C&#x1EA5;u h&#xEC;nh cao</a>
                            <a href="dtdd-apple-iphone-pin-khung" data-tooltip="" data-smooth="1" data-href="pin-khung"
                                data-id="163467" class="c-btnbox ">Pin kh&#x1EE7;ng tr&#xEA;n
                                5000 mAh</a>
                            <a href="dtdd-apple-iphone-sac-pin-nhanh" data-tooltip="" data-smooth="1"
                                data-href="sac-pin-nhanh" data-id="181957" class="c-btnbox ">S&#x1EA1;c pin
                                nhanh</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="50">
                    <div class="filter-item__title jsTitle noselecttext" data-textorg="RAM">
                        <div class="arrow-filter"></div>
                        <span>RAM</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-ram-8gb" data-tooltip="" data-smooth="1" data-href="ram-8gb"
                                data-id="55436" class="c-btnbox ">8 GB</a>
                            <a href="dtdd-apple-iphone-ram-4gb" data-tooltip="" data-smooth="1" data-href="ram-4gb"
                                data-id="46927" class="c-btnbox ">4 GB</a>
                            <a href="dtdd-apple-iphone-ram-6gb" data-tooltip="" data-smooth="1" data-href="ram-6gb"
                                data-id="52473" class="c-btnbox ">6 GB</a>
                            <a href="dtdd-apple-iphone-ram-3gb" data-tooltip="" data-smooth="1" data-href="ram-3gb"
                                data-id="41172" class="c-btnbox ">3 GB</a>
                            <a href="dtdd-apple-iphone-ram-1gb" data-tooltip="" data-smooth="1" data-href="ram-1gb"
                                data-id="4734" class="c-btnbox ">1 GB</a>
                            <a href="dtdd-apple-iphone-ram-2gb" data-tooltip="" data-smooth="1" data-href="ram-2gb"
                                data-id="37897" class="c-btnbox ">2 GB</a>
                            <a href="dtdd-apple-iphone-ram-12gb" data-tooltip="" data-smooth="1" data-href="ram-12gb"
                                data-id="136259" class="c-btnbox ">12 GB</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="49">
                    <div class="filter-item__title jsTitle noselecttext" data-textorg="B&#x1ED9; nh&#x1EDB; trong">
                        <div class="arrow-filter"></div>
                        <span>B&#x1ED9; nh&#x1EDB; trong</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone?g=8-gb" data-tooltip="" data-smooth="0" data-href="8-gb"
                                data-id="191" class="c-btnbox ">8 GB</a>
                            <a href="dtdd-apple-iphone-rom-16gb" data-tooltip="" data-smooth="1" data-href="rom-16gb"
                                data-id="192" class="c-btnbox ">16 GB</a>
                            <a href="dtdd-apple-iphone?g=32-gb" data-tooltip="" data-smooth="0" data-href="32-gb"
                                data-id="193" class="c-btnbox ">32 GB</a>
                            <a href="dtdd-apple-iphone?g=64-gb" data-tooltip="" data-smooth="0" data-href="64-gb"
                                data-id="21987" class="c-btnbox ">64 GB</a>
                            <a href="dtdd-apple-iphone-rom-128gb" data-tooltip="" data-smooth="1" data-href="rom-128gb"
                                data-id="43032" class="c-btnbox ">128 GB</a>
                            <a href="dtdd-apple-iphone-rom-256gb" data-tooltip="" data-smooth="1" data-href="rom-256gb"
                                data-id="58037" class="c-btnbox ">256 GB</a>
                            <a href="dtdd-apple-iphone-rom-512gb" data-tooltip="" data-smooth="1" data-href="rom-512gb"
                                data-id="105828" class="c-btnbox ">512 GB</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="19879">
                    <div class="filter-item__title jsTitle noselecttext" data-textorg="Camera">
                        <div class="arrow-filter"></div>
                        <span>Camera</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-camera-macro" data-tooltip="" data-smooth="1"
                                data-href="camera-macro" data-id="163409" class="c-btnbox ">Ch&#x1EE5;p c&#x1EAD;n
                                c&#x1EA3;nh (Macro)</a>
                            <a href="dtdd-apple-iphone-camera-goc-rong" data-tooltip="" data-smooth="1"
                                data-href="camera-goc-rong" data-id="140894" class="c-btnbox ">Ch&#x1EE5;p g&#xF3;c
                                r&#x1ED9;ng</a>
                            <a href="dtdd-apple-iphone-camera-xoa-phong" data-tooltip="" data-smooth="1"
                                data-href="camera-xoa-phong" data-id="140895" class="c-btnbox ">Ch&#x1EE5;p xo&#xE1;
                                ph&#xF4;ng</a>
                            <a href="dtdd-apple-iphone-camera-zoom" data-tooltip="" data-smooth="1"
                                data-href="camera-zoom" data-id="140896" class="c-btnbox ">Ch&#x1EE5;p zoom xa</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="25379">
                    <div class="filter-item__title jsTitle noselecttext"
                        data-textorg="T&#xED;nh n&#x103;ng &#x111;&#x1EB7;c bi&#x1EC7;t">
                        <div class="arrow-filter"></div>
                        <span>T&#xED;nh n&#x103;ng &#x111;&#x1EB7;c bi&#x1EC7;t</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-5g" data-tooltip="" data-smooth="1" data-href="5g"
                                data-id="181958" class="c-btnbox ">H&#x1ED7; tr&#x1EE3; 5G</a>
                            <a href="dtdd-apple-iphone-bao-mat-khuon-mat" data-tooltip="" data-smooth="1"
                                data-href="bao-mat-khuon-mat" data-id="173170" class="c-btnbox ">B&#x1EA3;o
                                m&#x1EAD;t khu&#xF4;n m&#x1EB7;t</a>
                            <a href="dtdd-apple-iphone-bao-mat-van-tay" data-tooltip="" data-smooth="1"
                                data-href="bao-mat-van-tay" data-id="173171" class="c-btnbox ">B&#x1EA3;o m&#x1EAD;t
                                v&#xE2;n tay</a>
                            <a href="dtdd-apple-iphone-sac-khong-day" data-tooltip="" data-smooth="1"
                                data-href="sac-khong-day" data-id="173173" class="c-btnbox ">S&#x1EA1;c kh&#xF4;ng
                                d&#xE2;y</a>
                            <a href="dtdd-apple-iphone-chong-nuoc-bui" data-tooltip="" data-smooth="1"
                                data-href="chong-nuoc-bui" data-id="173174" class="c-btnbox ">Kh&#xE1;ng
                                n&#x1B0;&#x1EDB;c, b&#x1EE5;i</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="19878">
                    <div class="filter-item__title jsTitle noselecttext" data-textorg="Thi&#x1EBF;t k&#x1EBF;">
                        <div class="arrow-filter"></div>
                        <span>Thi&#x1EBF;t k&#x1EBF;</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-man-hinh-tran-vien" data-tooltip="" data-smooth="1"
                                data-href="man-hinh-tran-vien" data-id="140890" class="c-btnbox ">Tr&#xE0;n
                                vi&#x1EC1;n</a>
                            <a href="dtdd-apple-iphone-mong-nhe" data-tooltip="" data-smooth="1" data-href="mong-nhe"
                                data-id="181955" class="c-btnbox ">M&#x1ECF;ng nh&#x1EB9;</a>
                            <a href="dtdd-apple-iphone-mat-lung-kinh" data-tooltip="" data-smooth="1"
                                data-href="mat-lung-kinh" data-id="182026" class="c-btnbox ">M&#x1EB7;t l&#x1B0;ng
                                k&#xED;nh</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
                <div class="filter-item " propertyID="6240">
                    <div class="filter-item__title jsTitle noselecttext" data-textorg="M&#xE0;n h&#xEC;nh">
                        <div class="arrow-filter"></div>
                        <span>M&#xE0;n h&#xEC;nh</span>
                    </div>

                    <div class="filter-show">
                        <div class="filter-list  props">
                            <a href="dtdd-apple-iphone-nho-gon" data-tooltip="" data-smooth="1" data-href="nho-gon"
                                data-id="163351" class="c-btnbox ">Nh&#x1ECF; g&#x1ECD;n d&#x1EC5; c&#x1EA7;m</a>
                            <a href="dtdd-apple-iphone-tu-6-inch-tro-len" data-tooltip="" data-smooth="1"
                                data-href="tu-6-inch-tro-len" data-id="181979" class="c-btnbox ">T&#x1EEB; 6 inch
                                tr&#x1EDF; l&#xEA;n</a>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:filterPros();" class="btn-filter-readmore">Xem <b
                                    class="total-reloading"></b> kết quả</a>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
        <div></div>
        <div class="box-quicklink  block-scroll-main">
            {{#each categories}}
            <a href="../fillter?category_id={{category_id}}" data-href="dtdd-apple-iphone" data-index="0"
                class="box-quicklink__item bd-radius quicklink-logo {{#if isActive}} check {{/if}}">
                <img src="../images/{{logo}}" width="30" class="no-text">
            </a>
            {{/each}}
        </div>
        {{!-- <div class="box-quicklink child-filter-outer block-scroll-main">
            <div id="filter-follow-manu" class="props props-child">
                {{#each this.fillters}}
                <a href="../home?product_id={{value}}" data-smooth="1" data-href="12-series" data-id="180894" class="c-btnbox 
                {{#if isActive}}check{{/if}}">{{text}}</a>
                {{/each}}
            </div>
        </div> --}}
    </section>
</div>